[Unit]
Description=Anti-hacking service
After=network.target

[Service]
Type=simple
Restart=on-failure

UMask=000
ExecStart=/srv/services/devil/devil ${CREDENTIALS_DIRECTORY}/Config.toml
WorkingDirectory=/srv/services/devil/

StandardOutput=journal
StandardError=journal
StandardInput=null

PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
ReadOnlyPaths=/srv/services/devil/
StateDirectory=devil
RuntimeDirectory=devil
RuntimeDirectoryMode=0773
DynamicUser=true

PrivateUsers=true
LoadCredential=Config.toml:/etc/devil/Config.toml

NoNewPrivileges=true
ConfigurationDirectory=devil
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target